<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">
        body {
            width: 700px;
            margin: 0 auto;
        }

        fieldset {
            margin: 40px 10px 10px auto;
            line-height: 50px;
            background-color: white;
        }
    </style>

    <title>Booking</title>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // 예약 저장하기
        function doSubmit() {

            let booking = document.getElementById("booking"); // form 태그

        }

        // 예약자(대표) 정보 입력 폼의 요소들을 가져오는 함수
        function getBookingFormElements() {
            return {
                bookingName: document.getElementsByName("booking_name")[0],
                tel: document.getElementsByName("tel")[0],
                bookingEmail: document.getElementsByName("booking_email")[0]
            };
        }

        // 회원정보와 동일시 체크박스의 이벤트 핸들러
        function handleSameCheckbox() {
            const sameCheckbox = document.getElementsByName("same")[0];
            const bookingFormElements = getBookingFormElements();

            // 체크박스가 체크되면 로그인된 사용자 정보를 폼 요소에 채움
            sameCheckbox.addEventListener("change", function () {
                if (sameCheckbox.checked) {
                    // 로그인된 사용자의 정보를 가져와서 폼 요소에 채움
                    const user = getUserInfo(); // 로그인된 사용자 정보를 가져오는 함수
                    bookingFormElements.bookingName.value = user.name;
                    bookingFormElements.tel.value = user.tel;
                    bookingFormElements.bookingEmail.value = user.email;
                } else {
                    // 체크박스가 체크 해제되면 폼 요소를 초기화
                    bookingFormElements.bookingName.value = "";
                    bookingFormElements.tel.value = "";
                    bookingFormElements.bookingEmail.value = "";
                }
            });
        }

        // 임의의 로그인된 사용자 정보를 가져오는 함수
        function getUserInfo() {
            // 여기에 실제로 로그인된 사용자 정보를 가져와서 반환하는 로직을 구현해야 함!!!!!!!!!!
            return {
                name: [${dto.user_id}], // 컨트롤러, dto에 user_id 추가 수정해서 일단 유저아이디로 넣어봄
                tel: "010-7657-0611",
                email: "abcd@naver.com"
            };
        }

        // 페이지 로드 시 호출되는 함수
        function initialize() {
            handleSameCheckbox();
        }

        // 페이지 로드 완료 시 initialize 함수 호출
        window.addEventListener("load", initialize);

    </script>
</head>

<body>

<form action="/siso/bookingInsert" method="post" onsubmit="doSubmit()" name="booking" id="booking">
    <fieldset>
        <legend> 예약자(대표) 정보 </legend>
        <label for="same">&nbsp;회원정보와 동일시 체크 : </label> <input type="checkbox" name="same" value="Y"><br>
        <label for="booking_name">- 이름 : </label>
        <input type="text" placeholder="홍길동" name="booking_name"><br>
        <label for="tel">- 전화번호 : </label>
        <input type="tel" placeholder="000-0000-0000" name="tel"><br>
        <label for="booking_email">- 이메일 : </label>
        <input type="email" placeholder="email@naver.com" name="booking_email">
    </fieldset>

    <fieldset>
        <legend> 여행 예약 정보 </legend>
        <label for="date">- 예약일 : </label>
        <input type="date" name="start_date"> ~ <input type="date" name="last_date"><br>
        <label for="stay">- 숙소 타입 : </label>
        <input type="checkbox" name="stay" value="에어비엔비">에어비앤비&nbsp;&nbsp;
        <input type="checkbox" name="stay" value="호텔">호텔&nbsp;&nbsp;
        <input type="checkbox" name="stay" value="리조트">리조트
        <input type="checkbox" name="stay" value="숙박안함">숙박안함 <br>
        <label for="room">- 방 개수 : <input type="number" min="1" name="room">&nbsp;&nbsp;</label><br>
        <label for="person">- 예약 인원 : </label> <input type="number" min="1" name="person"><br>
        <label for="place">- 여행지 :</label>
        <input type="text" list="local" name="local" placeholder="국내 여행지 선택">
        <datalist id="local">
            <option value="경상북도" label="인당 \ 200,000부터" />
            <option value="강원도" label="인당 \ 250,000부터" />
            <option value="제주도" label="인당 \ 350,000부터" />
        </datalist>
        <input type="text" list="foreignn" name="foreignn" placeholder="해외 여행지 선택">
        <datalist id="foreignn">
            <option value="베트남" label="인당 \ 500,000부터" />
            <option value="태국" label="인당 \ 600,000부터" />
            <option value="필리핀" label="인당 \ 550,000부터" />
        </datalist> <br>
        <label for="want">- 요청 사항 : </label><br>
        <textarea name="want" cols="60" rows="5">전달하실 내용을 적어주세요.</textarea>
    </fieldset><br>
    <hr>
    <br>
    <input type="submit" value="전송"> &nbsp;
    <input type="reset" value="초기화"> &nbsp;
    <br>
    <br>
    <br>
</form>
<script type="text/javascript">
    initialize();
</script>
</body></html>