<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IBookingMapper">
    <!--  예약 하기  -->
    <insert id="insertBooking" parameterType="BookingDTO">
        INSERT INTO BOOKING (
            SAME,
            BOOKING_NAME,
            TEL,
            BOOKING_EMAIL,
            START_DATE,
            LAST_DATE,
            STAY,
            ROOM,
            PERSON,
            LOCAL,
            FOREIGNN,
            WANT
            )
        VALUES (
           #{same},
           #{booking_name},
           #{tel},
           #{booking_email},
           #{start_date},
           #{last_date},
           #{stay},
           #{room},
           #{person},
           #{local},
           #{foreignn},
           #{want}
               )
    </insert>


</mapper>